html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 900px;
}

.el-table {
    margin: 15px 0;
}

.el-container {
    overflow: auto;
}

.zk-table {
    margin: 15px 0;
}

.el-cascader-menu {
    height: 200px;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 14px !important;
}

.ql-container {
    min-height: 300px;

}